* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  height: 100vh;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
}

/* Navbar */

.navbar {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* add some style */
img {
  height: 50px;
  margin-left: 10px;
}
ul li {
  list-style: none;
  text-decoration: underline;
}
