* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: scroll;
  color: seashell;
  opacity: 0.9;
  background-color: black;
}

/* Hero */

.hero {
  background-image: url(/images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 700px;
  width: 1200px;
}

/* 3rd section */

.section-3 {
  background-image: url(/images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 500px;
  width: 1200px;
}

/* images */

.images {
  width: 300px;
  height: 200px;
}
